.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 3rem 0rem;
}

.img_content {
    width: 5%;
    margin-right: 1rem;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.form_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20%;
    border-radius: 15%;
    padding: 2rem 1rem;
    background-color:rgb(182, 194, 219);
}

form input {
    margin-bottom: 2rem;
    width: 20%;
}

form label {
    margin-bottom: 0.5rem;
    font-weight:900;
}

form button {
    width: 60%;
}

.process_result {
    margin-top: 1.5rem;
    font-weight: bolder;
}